<div class="hidden md:block">
    <article class='contFaqs'>
        <h4 class="faqsTitle">¿Cómo llegar al Santuario?</h4>
        <p class="answer">Habrá buses disponibles desde el hotel Santa Isabel 2 hasta el Santuario.</p>
        <p class="answer">Puedes ir en tu carro y parquear en los parqueaderos públicos al llegar.</p>
        <ul class="faqsTip">
            <li>Recuerda llegar con tiempo porque es temporada alta.</li>
        </ul>
    </article>

    <article class='contFaqs'>
        <h4 class="faqsTitle">¿Cómo bajar a la Basílica?</h4>
        <p class="answer">Se puede bajar en teleférico, pero aún así deberás bajar unos cuantos escalones, así que lleva zapatos cómodos.</p>
        <ul class="faqsTip">
            <li><strong>Precio:</strong> $30k (ida y vuelta)</li>
            <li><strong>Duración:</strong> 1 Hora</li>
        </ul>
        <p class="answer">Puedes bajar de igual manera caminando, para ello lleva zapatos cómodos.</p>
        <ul class="faqsTip">
            <li><strong>Duración:</strong> 30 Minutos</li>
        </ul>
    </article>

    <article class='contFaqs'>
        <h4 class="faqsTitle">¿Cómo llegar a la recepción?</h4>
        <p class="answer">Los buses los llevarán al lugar de la recepción al salir de la ceremonia.</p>
        <p class="answer">En caso de que vayas en carro, puedes buscar en Waze Salón de eventos Santa Isabel.</p>
        <div class="mt-2">
            <a href="https://www.google.com/maps/place/Salon+de+Eventos+Santa+Isabel/@0.8253983,-77.641024,14z/data=!4m15!1m8!3m7!1s0x8e296bc895d6b5e7:0xb26224384fc915ea!2sSalon+de+Eventos+Santa+Isabel!8m2!3d0.8252745!4d-77.6409107!10e5!16s%2Fg%2F11tn1s3578!3m5!1s0x8e296bc895d6b5e7:0xb26224384fc915ea!8m2!3d0.8252745!4d-77.6409107!16s%2Fg%2F11tn1s3578?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D" class="btn">Google Maps</a>
            <a href="https://www.waze.com/es/live-map/directions/hotel-santa-isabel-ipiales?to=place.w.185073672.1850474579.11745836" class="btn">Waze</a>
        </div>
    </article>

    <article class='contFaqs'>
        <h4 class="faqsTitle">Maquillaje y peinado</h4>
        <p class="answer">Puedes sacar cita en Viviana peluquería, reserva en el número: +57 3173015243.</p>
        <div class="mt-2">
            <a href="tel:+573173015243" class="btn">Llamar</a>
            <a href="https://wa.me/573173015243?" class="btn">WhatsApp</a>
        </div>
    </article>
</div>