---
import Google from "../../components/icons/Google";
import { Waze } from "../../components/icons/Waze";
import WhatsApp from "../../components/icons/WhatsApp";
import Button from "./Button.astro";
---

<div class="block md:hidden mb-12">

    <article class='contFaqs'>
        <details>
            <summary class="cursor-pointer faqsTitle">쮺칩mo llegar al Santuario?</summary>
            <div class="mt-2">
                <p class="answer">Habr치 buses disponibles desde el hotel Santa Isabel 2 hasta el Santuario.</p>
                <p class="answer">Puedes ir en tu carro y parquear en los parqueaderos p칰blicos al llegar.</p>
                <ul class="faqsTip">
                    <li>Recuerda llegar con tiempo porque es temporada alta.</li>
                </ul>
            </div>
        </details>
    </article>

    <article class='contFaqs'>
        <details>
            <summary class="cursor-pointer faqsTitle">쮺칩mo bajar a la Bas칤lica?</summary>
            <div class="mt-2">
                <p class="answer">Se puede bajar en telef칠rico, pero a칰n as칤 deber치s bajar unos cuantos escalones, as칤 que lleva zapatos c칩modos.</p>
                <ul class="faqsTip">
                    <li><strong>Precio: </strong> $30k (ida y vuelta)</li>
                    <li><strong>Duraci칩n:</strong> 1 Hora</li>
                </ul>
                <p class="answer">Puedes bajar de igual manera caminando, para ello lleva zapatos c칩modos.</p>
                <ul class="faqsTip">
                    <li><strong>Duraci칩n:</strong> 30 Minutos</li>
                </ul>
            </div>
        </details>
    </article>

    <article class='contFaqs'>
        <details>
            <summary class="cursor-pointer faqsTitle">쮺칩mo llegar a la recepci칩n?</summary>
            <div class="mt-2">
                <p class="answer">Los buses los llevar치n al lugar de la recepci칩n al salir de la ceremonia.</p>
                <p class="answer">En caso de que vayas en carro, puedes buscar en Waze Sal칩n de eventos Santa Isabel.</p>
                <div class="mt-2 w-full flex justify-around">
                    <Button 
                    class='w-1/3 ring-2 ring-blue-500 '
                    href="https://www.google.com/maps/place/Salon+de+Eventos+Santa+Isabel/@0.8253983,-77.641024,14z/data=!4m15!1m8!3m7!1s0x8e296bc895d6b5e7:0xb26224384fc915ea!2sSalon+de+Eventos+Santa+Isabel!8m2!3d0.8252745!4d-77.6409107!10e5!16s%2Fg%2F11tn1s3578!3m5!1s0x8e296bc895d6b5e7:0xb26224384fc915ea!8m2!3d0.8252745!4d-77.6409107!16s%2Fg%2F11tn1s3578?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D">
                        <Google />
                    <span>
                        Maps
                    </span>
                    </Button>
                    <Button
                    class='w-1/3 ring-2 ring-sky-500'
                    href='https://waze.com/ul/hd20u9q0qr'>
                    <Waze />
                    <span>
        
                        Waze
                    </span>
                    </Button>
                   
                </div>
            </div>
        </details>
    </article>

    <article class='contFaqs'>
        <details>
            <summary class="cursor-pointer faqsTitle">Maquillaje y peinado</summary>
        <p class="answer">Puedes sacar cita en Viviana peluquer칤a, reserva en el n칰mero: +57 3173015243.</p>
            <div class="mt-2 w-full flex justify-around">
                <Button
                class="w-1/3 mt-1 ring-2 ring-teal-500"
                href="tel:+573173015243"
                >
                游
                    <span>
                        Llamar
                    </span>
                    </Button>
                    <Button
                    class="w-1/3 ring-2 ring-green-500"
                    href="https://wa.me/573173015243?"
                    >
                    <WhatsApp />
                        <span>WhatsApp</span>
                    </Button>
            </div>
        </details>
    </article>
    <article class='contFaqs'>
        <details>
            <summary class="faqsTitle">쮺칩mo vestirme?</summary>
        <p class="answer">Recuerda el c칩digo de vestimenta es formal.
            <br/>
            <span class="">
                Los hombres de traje y las mujeres de vestido largo
            </span>
        </p>
        <p class="text-xl w-full text-center text-emerald-700">Colores reservados</p>
        <ul class="flex justify-around w-2/2 mx-auto rounded bg-black/10 ring-2 ring-black/60 py-1 px-2">
            <li class="colors bg-white" />
            <li class="colors bg-[#E10600]"></li>
            <li class="colors bg-[#96A480]"></li>
        </ul>
    </details>
    </article>
</div>