@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Halimun";
  src: url("/fonts/Halimun.ttf") format("truetype");
}
@font-face {
  font-family: "Belgiano";
  src: url("/fonts/Belgiano.otf") format("opentype");
}
html {
  background: #e7e4da;
  background: #ece3de;
  scroll-behavior: smooth;
}

@layer components {
  .timeTitle {
    @apply text-emerald-800 lg:text-xl font-semibold text-pretty
  }

  .countdown-item {
    @apply flex flex-col text-white/80 justify-center items-center font-semibold;
  }

  .countdown {
    @apply font-bold text-4xl md:text-5xl;
  }

  .count {
    @apply text-red-600 text-lg
  }

  .registrationButton {
    @apply rounded border-2 border-emerald-800 text-emerald-800 px-2 hover:scale-110 hover:bg-emerald-800 hover:text-amber-50 focus:bg-emerald-800 focus:text-amber-50 transition-all
  }

  .registrationButtonActive {
    @apply bg-emerald-800 text-amber-50
  }

  .mealButton {
    @apply mx-1 rounded-full ring-2 ring-transparent hover:ring-emerald-800 transition-all duration-150
  }

  .contFaqs {
    @apply text-lg mt-2
  }

  .faqsTitle {
    @apply text-xl font-bold text-emerald-800
  }

  .faqsTip {
    @apply flex justify-around my-2 px-2 w-full xl:w-1/2 gap-x-6 rounded-lg rounded-ss-none ring-2 ring-amber-300 bg-amber-100
  }

  .answer {
    @apply before:content-['•'] pl-2
  }

  .colors {
    @apply size-8 rounded-full
  }
}

th {
  background: #065f46;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}