---
import Layout from '../layouts/Layout.astro';
import Location from '../components/Location.astro';
import Header from '../components/Header.astro';
import Post from '../sections/Post/Post';
import Food from '../components/Food.astro';
import Nosotros from '../components/Nosotros.astro';
import { TimeLine } from '../sections/OrdenDia/TimeLine';
import { Registration } from '../components/Registration';
import '../styles/style.css'

---

<Layout title="Melissa & Pedro - Save the date 7, Dic">
	<main id='main' class=" h-screen ">
		<Header />
		<section class="flex flex-col gap-20 md:gap-20">
			<TimeLine />
			<Location />
			<Post client:visible />
			<Food />
			<Nosotros />
			<Registration client:visible />
		</section>
		</main>
</Layout>

