---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.astro'
import '../styles/style.css'
import '@fontsource-variable/quicksand';
import Location from '../components/Location.astro';
import Header from '../components/Header.astro';
---

<Layout title="Melissa & Pedro - Save the date 7, Dic">
	<main id='main' class=" h-screen">
		<Header />
		<Location />
	</main>
</Layout>

