---
import "../../styles/style.css";
---

<main class="flex flex-col w-full md:w-4/6 xl:w-1/3  justify-around">

    <section class="flex my-1 mx-auto justify-around w-full">

        <div class="countdown-item">
            <h3 
            class="countdown"
            id="days"></h3>
            <p class="count">Días</p>
        </div>
        <div class="countdown-item">
            <h3 
            class="countdown"
            id="hours"></h3>
            <p class="count">Horas</p>
        </div>
        <div class="countdown-item">
            <h3 
            class="countdown"
            id="minutes"></h3>
            <p class="count">Minutos</p>
        </div>
        <div class="countdown-item">
            <h3
            class="countdown"
            id="seconds"></h3>
            <p class="count">Segundos</p>
        </div>
    </section>
    <p id="expired-message" class="hidden text-center text-emerald-900 text-md md:text-3xl font-semibold mt-1">
        07/12/2024
    </p>
</main>
<style>
    main{
        opacity: 0;
        animation: fadeInUp 2s ease-in-out forwards 1s;
    }
    #expired-message {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Agrega sombra al texto */
}
    @keyframes fadeInUp {
        0%{
            opacity: 0;
            transform: translateY(150px);
        }
        80%{
            opacity:0
        }
        100%{
            opacity: 1;
            transform: translateY(0)
        }
    }
</style>
<script>
    const targetDate = new Date("2024-12-07T16:00:00").getTime();
    console.log(targetDate);
    
    // Función para actualizar el contenido de un elemento
    function updateElement(id:any, value:any) {
        let element = document.getElementById(id);
        if (element) {
            element.innerText = value.toString().padStart(2, '0'); // Agregar ceros a la izquierda si es necesario
        }
    }

    window.addEventListener("load", () => {
        const countdown = setInterval(() => {
            const currentDate = new Date().getTime();
            const difference = targetDate - currentDate;
            const expired = document?.getElementById("expired-message")
            
            if (difference < 0) {
                updateElement("days", 0);
                updateElement("hours", 0);
                updateElement("minutes", 0);
                updateElement("seconds", 0);
                clearInterval(countdown); 
                if (expired) expired.classList.remove("hidden");
                return; 
            }

           
            const days = Math.floor(difference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((difference % (1000 * 60)) / 1000);

            
            updateElement("days", days);
            updateElement("hours", hours);
            updateElement("minutes", minutes);
            updateElement("seconds", seconds);
        }, 1000);
    });
</script>
