---
const { classes } = Astro.props
---
<ul class={` ${classes} flex w-full md:w-2/3  gap-x-2 md:gap-x-4  px-4 rounded  font-medium text-md sm:text-xl md:text-2xl justify-around transition-all duration-100`}>
    <a href="#recomendaciones" class=" transition-all hover:scale-125 hover:text-amber-500"> Recomendaciones</a>
    <a  href="#Nosotros" class="  transition-all hover:scale-125 hover:text-amber-500"> Nosotros</a>
    <a  href="#Registro" class=" transition-all hover:scale-125 hover:text-amber-500"> Registro</a>
</ul>