---

---
<ul class="flex w-full md:w-2/3 bg-gradient-to-b from-transparent via-black/40 to-transparent gap-x-2 md:gap-x-4 p-2 px-4 rounded text-white font-medium text-md sm:text-xl md:text-2xl justify-around transition-all duration-100">
    <a href="#main" class=" transition-all hover:scale-125 hover:text-amber-500"> Inicio</a>
    <a href="#recomendaciones" class=" transition-all hover:scale-125 hover:text-amber-500"> Recomendaciones</a>
    <a  href="#Nosotros" class="  transition-all hover:scale-125 hover:text-amber-500"> Nosotros</a>
    <a  href="#Registro" class=" transition-all hover:scale-125 hover:text-amber-500"> Registro</a>
</ul>