---
import Menu from "../sections/Header/Menu.astro";
import Countdown from "../sections/Header/Countdown.astro";


---

<div
    id="home"
    class="h-4/6 md:h-5/6 bg-mainW bg-cover bg-center relative transition-all image-container "
>
    <div
        class="absolute inset-x-0 top-0 h-24 bg-gradient-to-b from-stone-100 via-stone-300/70 to-transparent"
    >
    </div>
    <section class="h-full w-full flex flex-col justify-between pt-28 pb-10 items-center ">
        <Menu classes="bg-gradient-to-b from-transparent via-black/40 to-transparent text-white" />
        <div class="flex flex-col md:flex-row w-full gap-4 justify-center items-center ">
            <Countdown />
            <a
                class=" py-1 sm:py-2 text-center tracking-wider w-28 text-md sm:text-2xl bg-stone-200  text-red-600  font-bold shadow-sm px-4 rounded-xl border-2 border-red-600 md:border-white/80
                md:w-24 md:h-24 md:rounded-full md:flex md:justify-center md:items-center  md:backdrop-blur-sm md:bg-white/20 md:text-white/80 hover:scale-110 md:hover:bg-stone-200 md:hover:text-red-600 md:hover:border-red-600  transition duration-300 "
                href="#Registro">RSVP</a
            >
        </div>
    </section>
</div>

<style>
    .title {
        font-family: "Quicksand Variable", sans-serif;
    }
    .image-container {
        animation: colorize 3s ease-in-out forwards;
    }
    @keyframes colorize {
        0% {
            filter: grayscale(100%);
        }
        70% {
            filter: grayscale(70%);
        }
        100% {
            filter: grayscale(45%);
        }
    }
</style>
