---
import Map from "../sections/Location/Map.astro";

const link = 'https://www.google.com/maps/place/Santuario+de+Nuestra+Se%C3%B1ora+del+Rosario+de+Las+Lajas+(ipiales)/@0.8236924,-77.5919128,13.75z/data=!4m15!1m8!3m7!1s0x8e296c9ed0d2053f:0x278b30a7497f1594!2zTGFzIExhamFzLCBQb3Rvc8OtLCBOYXJpw7Fv!3b1!8m2!3d0.8063181!4d-77.5824575!16s%2Fg%2F1hhxjf4fq!3m5!1s0x8e296ca19f3d61a1:0x68d50cb9c4dbe0fd!8m2!3d0.8054536!4d-77.5858583!16s%2Fm%2F0287blv?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'

---
<main id="recomendaciones" class="flex flex-col w-full">
    <section
    
    class="flex flex-col w-full sm:flex-row px-8 py-2 items-start gap-x-3 justify-around"
    >
    <Map imgMap="bg-lajasbg" linkMap={link}/>
</section>
</main>


<style>
    main {
        opacity: 0;
        animation: fadeInUp 2s ease-in-out forwards 1s;
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(150px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
