---
import Map from "../sections/Location/Map.astro";
import Post from "../sections/Location/Post.astro";


---

<section id='recomendaciones' class="flex flex-col sm:flex-row my-8 justify-around mx-auto px-8 gap-x-2">
    <Map />
    <Post />
</section>

<style>
    .section{
            opacity: 0;
            animation: fadeInUp 2s ease-in-out forwards 1s;
        }
        @keyframes fadeInUp {
            0%{
                opacity: 0;
                transform: translateY(150px);
            }
            100%{
                opacity: 1;
                transform: translateY(0)
            }
        }
    </style>