---

---
<nav class="backdrop-blur-3xl fixed left-0 right-0 w-2/4 mx-auto my-2 rounded-3xl z-10">
    <ul class="flex  gap-x-4 p-2 px-4 text-black font-semibold text-xl justify-around">
        <a href="/"  class="group transition-all"><span class="text-transparent group-hover:text-black transtion-all duration-200">•</span> Inicio</a>
        <a  href="/Nosotros" class="group transition-all"><span class="text-transparent group-hover:text-black transtion-all duration-200">•</span> Nosotros</a>
        <a href="/Recomendaciones" class="group transition-all"><span class="text-transparent group-hover:text-black transtion-all duration-200">•</span> Recomendaciones</a>
        <a href="/Galeria"  class="group transition-all"><span class="text-transparent group-hover:text-black transtion-all duration-200">•</span> Galeria</a>
        <a  href="/Registro" class="group transition-all"><span class="text-transparent group-hover:text-black transtion-all duration-200">•</span> Registro</a>
    </ul>
</nav>

<!-- <style>
    .backdrop{
        backdrop-filter: blur(80px) !important;
    }
</style> -->