---

---
<nav class="backdrop-blur-3xl fixed left-0 right-0 w-full lg:w-3/4 mx-auto lg:my-2 lg:rounded-3xl z-10">
    <ul class="flex  gap-x-2 md:gap-x-4 p-2 px-4 text-black font-semibold text-xs sm:text-xl md:text-2xl justify-around transition-all duration-100">
        <a href="/" class=" transition-all hover:text-red-800"> Inicio</a>
        <a href="/Recomendaciones" class=" transition-all hover:text-red-800"> Recomendaciones</a>
        <a  href="/Nosotros" class="  transition-all hover:text-red-800"> Nosotros</a>
        <a href="/Galeria"  class=" transition-all hover:text-red-800"> Galeria</a>
        <a  href="/Registro" class=" transition-all hover:text-red-800"> Registro</a>
    </ul>
</nav>

<!-- <style>
    .backdrop{
        backdrop-filter: blur(80px) !important;
    }
</style> -->