---
import { Image } from "astro:assets";
import MPProfile from '../../../public/img/MPProfile.jpg'

---
<section class="bg-black p-2 flex items-center gap-x-4 w-full rounded-t-md">
    <div class="rounded-full overflow-hidden bg-gray-700 size-11">
        <Image src={MPProfile} alt="profilePh" />
    </div>
    <div>
        <h1 class="text-white text-sm md:text-md ">Melissa&Pedro</h1>
        <h1 class="text-stone-200 text-sm font-extralight">Ipiales, Nariño</h1>
    </div>
</section>