---


---

<div id="map" class="map h-[350px] w-full md:w-1/2 my-4"></div>


<script>
import { loadMapboxScriptIfNeeded, initializeMap } from "../../utils/mapbox.js";

    const mapContainer = document.getElementById('map');

async function initMap() {
  await loadMapboxScriptIfNeeded();

  initializeMap(mapContainer, 15);
}

initMap();
</script>
