---


---

<div id="map" class="map h-[350px] w-full md:w-1/2 my-4"></div>


<script>
import { initializeMap, loadMapboxScriptIfNeeded } from "../../utils/mapbox";

    const mapContainer = document.getElementById('map');

async function initMap() {
  await loadMapboxScriptIfNeeded();

 initializeMap(mapContainer, 15);
}

await initMap();
</script>
